DJANGO_DEBUG=true
DJANGO_SECRET_KEY=1234
DJANGO_HOSTNAME=127.0.0.1
URL_BASE_PATH=tom

DJANGO_SUPERUSER_DATABASE=default
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_SUPERUSER_PASSWORD=password

DB_HOST=db
POSTGRES_USER=alertdemo
DB_USER=alertdemo
POSTGRES_PASSWORD=alertdemo
DB_PASS=alertdemo
POSTGRES_DB=alertdemo
DB_NAME=alertdemo

